.product{
	font-family: 'Do Hyeon', sans-serif;
	margin: auto;
	width:500px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.product-img{
	width: 500px;
	position: center;
	margin-bottom: 20px;
}


.product-body{
	width:500px;
	font-size: 17px;
}

.form-control{
	width: 500px;
}